// Login.scss
.container_form-login {
    width: auto;
    height: 100vh;
    background-image: url(https://t3.ftcdn.net/jpg/06/55/48/22/360_F_655482254_1k1yrQACCvforJsBqcLgQgJAuoPSzg3X.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left; // Align label text to the left
}

input[type="text"],
input[type="password"] {
    width: calc(100%); // Subtract the padding from the width
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.checkbox-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.btn-login {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 152, 34);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: rgb(255, 186, 107);
}

.error-message {
    color: red;
    margin: 5px 0;
}