.cardsProduct-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  animation: moveInLeft ease-in 1s;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  width: calc(33.33% - 150px);
  max-width: 430px;
  margin: 0 30px 20px 30px;
  padding: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-header {
  position: relative;
}

.coffee-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  max-height: 230px;
  min-height: 230px;
  object-fit: cover;
}

.rating {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-flex;
  align-items: center;
  background-color: #ff0000;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(255, 218, 218, 0.1);
  color: #fff;
  /* Thêm hiệu ứng bóng */
}

.star {
  color: gold;
}

.rating-value {
  margin-left: 5px;
}

.card-body {
  padding: 10px;
}

.coffee-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.coffee-name {
  margin: 0;
}

.coffee-price {
  margin: 0;
}

.content-and-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* Để nội dung và nút cart căn trên cùng */
}

.button-group-product {
  display: flex;
  align-items: center;
  /* Để nút cart căn giữa theo chiều dọc */
}

.button-group-product button {
  margin-right: 10px;
  border: 1px solid #ffb546;
  background-color: #fff;
  border-radius: 50%;
  color: #ffb546;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-button {
  margin-left: auto;
  border: none;
  background-color: #ff8000 !important;
  color: white !important;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.more-button {
  display: inline-block;
  width: 20%;
  max-height: 50px;
  margin: 20px auto;
  /* Đặt nút ở giữa */
  padding: 10px 0;
  background-color: #ff8000;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ffb546;
  }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  /* Điều chỉnh chiều cao cho phù hợp với nội dung */
  font-size: 1.5rem;
  color: #333;
  /* Màu chữ */
  z-index: 99;
}

/* Hiệu ứng quay */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner::after {
  content: '';
  display: inline-block;
  width: 40px;
  /* Đường kính vòng quay */
  height: 40px;
  /* Đường kính vòng quay */
  border: 4px solid #ccc;
  /* Độ dày và màu sắc của vòng quay */
  border-top: 4px solid #666;
  /* Màu của đoạn trên cùng của vòng quay */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  /* Thời gian và kiểu của hiệu ứng quay */
}


@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}